@import '../../styles/variables.scss';

.Marker-teller {
  background: url(#{$path_images}img/Marker/marker_teller.svg);
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: -7px;
  left: -7px;
}

.Marker-dether {
  background: url(#{$path_images}img/Marker/dether_marker.svg);
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  top: -7px;
  left: -7px;
}
